*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #2b3a67;
}

label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

input[type="datetime-local"],
input[type="text"]{
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input[type="checkbox"]{
    margin-right: 8px;
}

input[type="button"]{
    width: 50%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #2ec4b6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="button"]:hover{
    background: #28a89c;
}

#resp{
    display: block;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #2b3a67;
}